<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href=""><img src="/asset/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href=""><img src="/asset/img/cart-icon 1.png" alt=""></a>
                <a href=""><img src="/asset/img/user-icon 1.png" alt=""></a>
                <a href=""><img src="/asset/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="reduc">
            <a href="">VIEW ALL JERSEY up to -50%</a>
        </div>
    </header>
    <div class="article">
        <img src="/asset/img/mens-nike-nolan-ryan-white-houston-astros-home-cooperstown-collection-player-jersey_pi3599000_altima.png"
            alt="">
        <div class="buy">
            <div class="buy-title">
                <h1>Maillot Homme Houston Astros domicile 2024</h1>
            </div>
            <div class="stock">
                <h3>in stock</h3>
            </div>
            <div class="box">
                <div class="size">
                    <h2 class="t-size">Size</h2>
                    <div class="taille">
                        <h3>S</h3>
                        <h3>M</h3>
                        <h3>L</h3>
                        <h3>XL</h3>
                    </div>
                </div>
                <div class="quantity">
                    <div class="little-box">
                        <h2>Quantity</h2>
                        <form action="" method="post" class="number">
                            <label for="Quantity">quantity</label>
                            <select name="Quantity" id="Quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </form>
                    </div>
                    <div class="add">
                        <div class="button">
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/asset/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="">My account</a>
                <a href="">Cart</a>
            </div>
        </div>
    </footer>
</body>

</html>