!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/asset/css/style.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href=""><img src="/asset/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href=""><img src="/asset/img/cart-icon 1.png" alt=""></a>
                <a href=""><img src="/asset/img/user-icon 1.png" alt=""></a>
                <a href=""><img src="/asset/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="reduc">
            <a href="">VIEW ALL JERSEY up to -50%</a>
        </div>
    </header>
    <div class="box1">
        <h3>Your items</h3>
        <div class="box2">
            <img src="" alt="">
            <div>
                <h2>maillot title</h2>
                <h2>price</h2>
            </div>
            <div>
                <form action="post">
                    <label for="size">size</label>
                    <select name="size" id="size">
                        <option value="s">s</option>
                        <option value="m">m</option>
                        <option value="l">l</option>
                        <option value="xl">xl</option>
                    </select>
                    <input type="submit" value="delete">
                </form>
                <form action="post">
                    <label for="quantity">quantity</label>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="delete">
                </form>
            </div>
            <p></p>
        </div>
        <div class="box3">
            <div class="order">
                <h1>Oder Summary</h1>
                <div>
                    <p>item total</p>
                    <p>price</p>
                </div>
                <div>
                    <p>cart total</p>
                    <p>price</p>
                </div>
                <button>checkout</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="">My account</a>
                <a href="">Cart</a>
            </div>
        </div>
    </footer>
</body>

</html>