<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/cart.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href=""><img src="/public/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href="/nocart"><img src="/public/img/cart-icon 1.png" alt=""></a>
                <a href="/cart"><img src="/public/img/user-icon 1.png" alt=""></a>
                <a href=""><img src="/public/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="reduc">
            <a href="">VIEW ALL JERSEY up to -50%</a>
        </div>
    </header>
    <div class="allbox">
        <div class="box1">
            <h3>Your items</h3>
            <div class="box2">
                <img src="/public/img/astro-jersey-men2.png" alt="Product Image">
                <div>
                    <h2>Maillot Title</h2>
                    <h2>$29.99</h2>
                </div>
                <div>
                    <form action="post">
                        <label for="size">Size:</label>
                        <select name="size" id="size">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </form>
                    <form action="post">
                        <label for="quantity">Quantity:</label>
                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input class="btn-delete" type="submit" value="Delete">
                    </form>
                </div>
                <p></p>
            </div>
            <div class="box3">
                <div class="order">
                    <h1>Order Summary</h1>
                    <div>
                        <p>Item Total</p>
                        <p>$29.99</p>
                    </div>
                    <div>
                        <p>Cart Total</p>
                        <p>$29.99</p>
                    </div>
                    <button>Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="">My account</a>
                <a href="">Cart</a>
            </div>
        </div>
    </footer>
</body>

</html>