<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href=""><img src="/public/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href="/nocart"><img src="/public/img/cart-icon 1.png" alt=""></a>
                <a href="/cart"><img src="/public/img/user-icon 1.png" alt=""></a>
                <a href="/article"><img src="/public/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="reduc">
            <a href="">VIEW ALL JERSEY up to -50%</a>
        </div>
    </header>
    <div class="all-body">
        <div class="welcome">
            <p>Welcome to FA’MOUS shop</p>
        </div>
        <div class="american-league">
            <div class="title-am">
                <p>American League Teams</p>
            </div>
            <div class="team-am">
                <a href=""><img src="/public/img/boston-logo.png" alt=""></a>
                <a href=""><img src="/public/img/mets-logo.png" alt=""></a>
                <a href=""><img src="/public/img/houston-logo.png" alt=""></a>
            </div>
        </div>
        <div class="national-league">
            <div class="title-na">
                <p>National League Teams</p>
            </div>
            <div class="team-na">
                <a href=""><img src="/public/img/padres-logo.png" alt=""></a>
                <a href=""><img src="/public/img/yankees-logo.png" alt=""></a>
                <a href=""><img src="/public/img/phillies-logo.png" alt=""></a>
            </div>
        </div>
        <div class="jersey">
            <div class="text">
                <p>The MLB London Series 2024</p>
            </div>
            <div class="img1">
                <a href=""> <img src="/public/img/banniere-mets-vs-phillies.jpg" alt=""></a>
            </div>
            <div class="img2">
                <a href=""><img src="/public/img/mets-photo2.webp" alt=""></a>
                <a href=""><img src="/public/img/phyli-photo2.gif" alt=""></a>
            </div>
            <div class="carousel">
                <a href=""> <img src="/public/img/mets-banniere.png" alt=""></a>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="category">
            <a href=""> Shop by team</a>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kid</a>
        </div>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="">My account</a>
                <a href="">Cart</a>
            </div>
        </div>
    </footer>
</body>
</html>
